* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 2;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    color: #2596be;
}

h2 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    color: #6c96a6;
}

hr {
    border-style: dotted;
    border-top: none;
    border-width: 2rem;
    width: 8rem;
    color: #97cee4;
    margin: 6rem auto 0 auto;
}

/* From uiverse.io */
.styled_button {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin: 4rem auto 0 auto;
}

.styled_button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.styled_button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.styled_button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.intro p {
    font-family: 'Aboreto', cursive;
    font-size: 2rem;
    color: #124cb4;

}

.intro span {
    text-decoration: underline;
}

.intro_container {
    background: #d4e8ff;
    height: 42rem;
}

.clouds {
    height: 11rem;
}

.waves {
    position: absolute;
    left: 0rem;
    top: 21rem;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

.aboutme p {
    width: 30rem;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.skills {
    margin: 4rem;
}

.skills img {
    height: 12rem;
}

.skills p {
    width: 25rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.myskills {
    margin: 6rem auto;
    width: 65rem;
}

.in_touch {
    margin: 6rem auto;
}

.in_touch p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.footer {
    font-family: 'Raleway', sans-serif;
    margin: 3rem auto 0 auto;
    background-color: #366fd5;
    color: aqua;
    font-weight: bold;
}

.footer_images img {
    height: 4rem;
    margin: 1rem;
}

#intro_heading {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: #2596be;
}

#top_cloud {
    position: relative;
    left: 24rem;
    top: 6rem;
}

#top2_cloud {
    position: relative;
    right: 35rem;
    top: 0rem;
}

#bottom_cloud {
    position: relative;
    right: 24rem;
    z-index: 1;
    bottom: 6rem;
}

#bottom2_cloud {
    position: relative;
    left: 24rem;
    z-index: 1;
    bottom: 6rem;
}

#mypic {
    height: 18rem;
    margin: 5rem auto 3rem auto;
}

#sp1 {
    float: right;
}

#sp2 {
    float: left;
}